{{ $featured_image := .Site.Params.featured_image }}
{{ if $featured_image }}
  {{ $featured_image = (strings.Trim $featured_image "/") | absURL }}
  <header class="cover bg-top" style="background-image: url('{{ $featured_image }}');">
    <div class="{{ .Site.Params.cover_dimming_class | default "bg-black-60" }}">
      {{ partial "site-navigation.html" .}}
      <div class="tc-l pt0 pb1 ph1-ns h-card">
        <h1 class="f2 f-subheadline-l fw2 white-80 mb0 lh-title mt0">
          <a href="{{ .Site.Home.Permalink }}" class="u-url u-uid" style="display:none">{{ .Site.Title }}</a>
          <span class="p-name" style="display:none">{{ .Site.Title }}</span>
          <img src="/img/hwlogo2025sitetitle-white.svg" alt="HackWimbledon" height="100" class="u-photo">
        </h1>
        {{ with .Site.Params.description }}
          <h2 class="fw1 f5 f3-l white-80 measure-wide-l center mt0 p-note">
            {{ . }}
          </h2>
        {{ end }}
      </div>
    </div>
  </header>
{{ else }}
  <header>
    <div class="pb1-m pb1-l {{ .Site.Params.background_color_class | default "bg-black" }}">
      {{ partial "site-navigation.html" . }}
    </div>
  </header>
{{ end }}
