{{ define "main" }}
  <article class="pa1 pa1-ns nested-copy-line-height">
    <section class="cf ph1 ph1-l pv1 pv1-l f4 tc-l center measure-wide lh-copy nested-links {{ $.Param "text_color" | compare.Default "mid-gray" }}">
      {{ .Content }}
    </section>

    <div class="ph1 ph1-l pv1 pv1-l center measure-wide tc-l">
      <h2 class="f3 fw4 pa3 mv0">People</h2>
      <p class="ph3 f4 mid-gray">Profiles of some of our regular members and their interests.</p>
    </div>
    <aside class="flex-ns mt1 flex-wrap justify-around">
      {{ range where .Pages "Params.category" "person" }}
        <div class="w-100 w-30-l mb1 relative bg-white">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </aside>

    <div class="ph1 ph1-l pv1 pv1-l center measure-wide tc-l">
      <h2 class="f3 fw4 pa3 mv0">Projects</h2>
      <p class="ph3 f4 mid-gray">Current and past projects we're working on together or individually.</p>
    </div>
    <aside class="flex-ns mt1 flex-wrap justify-around">
      {{ range where .Pages "Params.category" "project" }}
        <div class="w-100 w-30-l mb1 relative bg-white">
          {{ .Render "summary" }}
        </div>
      {{ end }}
    </aside>
  </article>
{{ end }}